@model Manuals.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "View Profile";
}
<div ng-controller="ProfileController">
    <div class="row">
        <div class="col-md-4">
            <img src='@Model.AvatarSrc' width="300" height="300">
            
            <input type="hidden" ng-model="Id" value="@Model.Id" />
            <p ng-init="GetTop(); GeMostDisc();"> Email:  @Model.Email</p>
           @*{{User.Email}}*@
            Description: @Model.Description
           
            @if (User.IsInRole("Admin") || Model.Id == User.Identity.GetUserId())
            { <hr />
                @Html.ActionLink("Edit", "EditUserProfile", "User", new { userId = Model.Id, returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-default col-md-12" })
            }
            <div style="height:40px;"></div>
            <div ng-repeat="TopRatManual in TopRatManuals | orderBy: '-DateAdded'" >

                <div class="well  col-md-12 ng-class:Theme" ng-show="TopRatManual.User.Id=='@Model.Id'">

                    <div class="row col-md-12" style="vertical-align:middle">
                        <div class="col-md-3">
                            <div class="col-md-6 col-md-pull-2">
                                <div class="btn-group-vertical btn-group-sm pull-left">
                                    <button class="btn btn-primary" ng-click="ChangeRating(TopRatManual,true)">Up</button>
                                    <div class="btn btn-default disabled" id="rating">{{TopRatManual.Rating}}</div>
                                    <button class="btn btn-danger" ng-click="ChangeRating(TopRatManual,false)">Down</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8" style="text-align:left">
                            <h4>
                                <a href="/Templates/{{TopRatManual.Template.Name}}?manual={{TopRatManual.Id}}">{{TopRatManual.Name}}</a> <text style="text-align:right; font-size:11px; opacity:0.2"> Top Rated</text>
                                <button class="btn btn-danger btn-sm pull-right " ng-click="DeleteManual(TopRatManual)" ng-show='("@User.IsInRole("Admin")")||(TopRatManual.UserId=="@User.Identity.GetUserId()")'>X</button>
                            </h4>
                            <h5><a href="/User/ViewUserProfile/{{TopRatManual.User.Id}}"> {{TopRatManual.User.FirstName}}  {{TopRatManual.User.SecondName}} <div ng-show="TopRatManual.User.FirstName==null">{{TopRatManual.User.Email}}</div> </a></h5>
                            <h6> Category: {{TopRatManual.Category.Name}}  Tags: <span ng-repeat="tag in TopRatManual.Tags">{{tag.Name}} </span></h6>

                        </div>

                    </div>
                </div>
            </div>
            <div ng-repeat="TopDiscManual in TopDiscManuals | orderBy: '-DateAdded'">

                <div class="well  col-md-12 ng-class:Theme" ng-show="TopDiscManual.User.Id=='@Model.Id'">

                    <div class="row col-md-12" style="vertical-align:middle">
                        <div class="col-md-3">
                            <div class="col-md-6 col-md-pull-2">
                                <div class="btn-group-vertical btn-group-sm pull-left">
                                    <button class="btn btn-primary" ng-click="ChangeRating(TopDiscManual,true)">Up</button>
                                    <div class="btn btn-default disabled" id="rating">{{TopDiscManual.Rating}}</div>
                                    <button class="btn btn-danger" ng-click="ChangeRating(TopDiscManual,false)">Down</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8" style="text-align:left">
                            <h4>
                                <a href="/Templates/{{TopDiscManual.Template.Name}}?manual={{TopDiscManual.Id}}">{{TopDiscManual.Name}}</a> <text style="text-align:right; font-size:11px; opacity:0.2"> Most discussed</text>
                                <button class="btn btn-danger btn-sm pull-right " ng-click="DeleteManual(TopDiscManual)" ng-show='("@User.IsInRole("Admin")")||(TopDiscManual.UserId=="@User.Identity.GetUserId()")'>X</button>
                            </h4>
                            <h5><a href="/User/ViewUserProfile/{{TopDiscManual.User.Id}}"> {{TopDiscManual.User.FirstName}}  {{TopDiscManual.User.SecondName}} <div ng-show="TopDiscManual.User.FirstName==null">{{TopDiscManual.User.Email}}</div> </a></h5>
                            <h6> Category: {{TopDiscManual.Category.Name}}  Tags: <span ng-repeat="tag in TopDiscManual.Tags">{{tag.Name}} </span></h6>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-md-6" ng-controller="HomeController">
           

                <div ng-repeat="Manual in Manuals | orderBy: '-DateAdded'">
                    <div class="well  col-md-12 ng-class:Theme" ng-show="Manual.User.Id=='@Model.Id'">

                        <div class="row col-md-12" style="vertical-align:middle">
                            <div class="col-md-3">
                                <div class="col-md-6 col-md-pull-2">
                                    <div class="btn-group-vertical btn-group-sm pull-left">
                                        <button class="btn btn-primary" ng-click="ChangeRating(Manual,true)">Up</button>
                                        <div class="btn btn-default disabled" id="rating">{{Manual.Rating}}</div>
                                        <button class="btn btn-danger" ng-click="ChangeRating(Manual,false)">Down</button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8" style="text-align:left">
                                <h4>
                                    <a href="/Templates/{{Manual.Template.Name}}?manual={{Manual.Id}}">{{Manual.Name}}</a>
                                    <button class="btn btn-danger btn-sm pull-right " ng-click="DeleteManual(Manual)" ng-show='("@User.IsInRole("Admin")")||(Manual.UserId=="@User.Identity.GetUserId()")'>X</button>
                                </h4>
                                <h5><a href="/User/ViewUserProfile/{{Manual.User.Id}}"> {{Manual.User.FirstName}}  {{Manual.User.SecondName}} <div ng-show="Manual.User.FirstName==null">{{Manual.User.Email}}</div> </a></h5>
                                <h6> Category: {{Manual.Category.Name}}  Tags: <span ng-repeat="tag in Manual.Tags">{{tag.Name}} </span></h6>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
