@model Manuals.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "View Profile";
}
<div ng-controller="ProfileController">
    <div class="row">
        <div class="col-md-2">
            <img src='@Model.AvatarSrc' width="300" height="300">
            
            <input type="hidden" ng-model="Id" value="@Model.Id" />
            <p ng-init="GetManuals()"> Email:  @Model.Email</p>
           @*{{User.Email}}*@
            Description: @Model.Description
            @if (User.IsInRole("Admin") || Model.Id == User.Identity.GetUserId())
            {
                @Html.ActionLink("Edit", "EditUserProfile", "User", new { userId = Model.Id, returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-default" })
            }
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div ng-repeat="Manual in Manuals">
                <div class="well">
                    <h4>{{Manual.Id}}. {{Manual.Name}}</h4>
                    <h5>Author: {{Manual.User.Email}}</h5>
                    <h5>{{Manual.Category.Name}} <span ng-repeat="tag in Manual.Tags">{{tag.Name}}</span></h5>
                </div>
            </div>
        </div>
    </div>
</div>
